*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
.head{
    min-height: 100vh;
    width: 100%;
    background-image:linear-gradient(rgba(152, 161, 197, 0.7),rgba(7, 11, 27, 0.7)),url(picture/banner.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6% ;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 150px;
}
.nav-links{
    flex: 1;
    text-align: right;

}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 9px 12px;
    position: relative; 
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;

}
.nav-links ul li::after{
    content:'';
    width: 0%;
    height:2px;
    background: #0011ff;
    display: block;
    margin: auto;
    transition: 0.25s;

}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 100%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    font-size: 60px;
}

.button{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 2.5px solid #fff;
    padding: 12px 34px;
    font-size: 25px;
    position: relative;
    cursor: pointer;
}
.button:hover{
    border: 1px solid rgb(0, 0, 0);
    background: #0011ff;
    transition: 0.25s;
}
nav.fas{
    display:none;

}
@media(max-width:700px){
    .text-box{
        font-size: 20px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background:#0011ff;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200;
        text-align: left;
        z-index: 2;

    }
    nav.fas{
        display: block;
        color: #fff;
        margin:10px;
        font-size: 20px;
        cursor: pointer;
    }
}
.ABOUT{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}
.ABOUT h1{
    font-size: 50px;
    color: rgb(0, 0, 0);
    font-weight: 400;
    line-height: 22px;
    padding: 10px;
}
.ABOUT p{
    font-size: 20;
}
.OurWork{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}
.OurWork h1{
    font-size: 50;
    color: rgb(0, 0, 0);
    font-weight: 400;
    line-height: 22px;
    padding: 10px;
}
.OurWork p{
    font-size: 20;

}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.work{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    position: relative;
}
.work img{
    width: 100%;
    border-radius: 10px;
}
.CONTACT{
    margin: 100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(152, 161, 197, 0.7),rgba(7, 11, 27, 0.7)),url(picture/cc.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;

}
.CONTACT h1{
    color: #fff;
    margin-bottom: 40px;
    padding: 0;
}
.icons{
    color: #fff;
    margin-bottom: 40px;
    font-size: 2em;

}
